{% extends "bootstrap_layout.html" %}

{% block content %}
  
 
  
  
    <h1> Welcome to Georgetown's Food Ordering System </h1>
    
    
    <ul>
        <form action="/order/page" method="POST">    <!--This takes me to orders/select home route and thus order_items.html-->
          
            <h2>Restauraunt Selection:</h2>
              <form>
               
                {% for result in results %}
                <!-- <button style="margin:5px;"> -->
                  <img src="static/{{result['name']}}.jpg" width ="128" height ="100" alt = "{{result['name']}}"/>
                  <input type="radio" id=restaurant name= "name"  value="{{result['name']}}" multiple>
                  <label for="restaurant">{{ result["name"] }} <!--${{ result["price"] }}--> </label>
                  
                  
                  {% endfor %}
                  <br>
                  
                   <button>Submit</button> 
          
                </form>
   <!--     {% for hourly in results %}
        <li>{{ hourly["name"] }} | </li>
    {% endfor %}
   -->  
    </ul>

{% endblock %}