
{% extends "bootstrap_layout.html" %}
{% block content %}

    <h1>{{restaurant.title()}} Order Form</h1>

    

 <form action="/order/subtotal" method="POST"> 

      <!--  results = cfa_items list> -->
        <form>
          {% set position = 1 %} 
            {% for result in results %}
            
            {% set position = results.index(result) %} 
            {% set temp = results[position] %}
            {% set tempCat = temp["Category"] %}
              {% if result["Category"] != results[position-1]["Category"] %}
                <br><h2>{{result["Category"]}}</h2><br>
              {% endif %}
            
                {% if result["Image Link"] != "" %}
                
                <label for="{{result['Item ID']}}"><img src="{{result['Image Link']}}" width ="148" height ="110" alt = "" />{{  result["Name"] }} ${{ result["Price"] }}
                
                <input type='checkbox'  id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}"  /> 
              </label>
                
               <!-- <img src= "{{result['Image Link']}}" width ="128" height ="100" alt = ""/> -->
                
               {% else %}
                <!-- <button style="margin:5px;"></button>-->
                
                 <label  for="{{result['Item ID']}}">{{ result["Name"]}} ${{ result["Price"]}}
                  <input type='checkbox' id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}" /> 
                </label>
                   
                  
              {% endif %}
                  
              
            {% endfor %}
        
            <br>
             
            <button>Submit</button> 
        
            </form>
   
{% endblock %}