
{% extends "bootstrap_layout.html" %}
{% block content %}

    <h1>{{restaurant.title()}} Order Form</h1>

    

 <form action="/order/subtotal" method="POST"> 

      <!--  results = cfa_items list> -->
        <form>
       
            {% for result in results %}
                {% if result["Image Link"] != "" %}
                <label for="{{result['Item ID']}}"><img src="{{result['Image Link']}}" width ="128" height ="100" alt = "" />{{ result["Name"] }} {{ result["Price"] }}</label>
                <input type='checkbox' id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}" /> 
                
                
               <!-- <img src= "{{result['Image Link']}}" width ="128" height ="100" alt = ""/> -->
                
               {% else %}
                <!-- <button style="margin:5px;"></button>-->
                 <label  for="{{result['Item ID']}}">{{ result["Name"]}} {{ result["Price"]}}</label>
                  <input type='checkbox' id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}" /> 
                
                  
                  
                  {% endif %}
                 
            {% endfor %}
        
            <br>
             
            <button>Submit</button> 
        
            </form>
   
{% endblock %}