
{% extends "bootstrap_layout.html" %}
{% block content %}

    <h2>{{restaurant.title()}} Order Form</h2>

    <p>Request A restaurant to order food from ...</p>

 <form action="/order/subtotal" method="POST"> 

      <!--  results = cfa_items list> -->
        <form>
            
            {% for result in results %}
            <img src= "{{result['Image Link']}}" width ="128" height ="100" alt = "{{result['Name']}}"/> 
            <input type='checkbox' name="{{result['Name']}}" value="{{result['Price']}}" > 
            <label ></label>{{ result["Name"] }} {{ result["Price"] }} <!--${{ result["price"] }}--> </label><br>
          
            {% endfor %}
        
            <br>
             
            <button>Submit</button> 
        
            </form>
   
{% endblock %}