
{% extends "bootstrap_layout.html" %}


{% block content %}

    <h1>Reciept</h1>

    <p>todo write some stuff here</p>

    
        {% for selection in results%}
        
        <div style="display:flex; justify-content:flex-end; width:20%; padding:0;" >
            <label>{{ selection["name"] }} | ${{selection["price"]}} {{p}}</label> <br>
        </div>
        {% endfor %}
        <hr >
        <h3>Subtotal = {{subtotal}}  </h3>
        

        <form action="/users/create" method="POST">

            <label>Full Name:</label>
            <input type="text" name="full_name" placeholder="Example User" value="Example User">
            <br>
    
            <label>Email Address:</label>
            <input type="text" name="email_address" placeholder="me@example.com" value="me@example.com">
            <br>
    
            <label>Georgetown ID Number</label>
            <input type="text" name="GU_ID" placeholder="00000000" value="00000000">
            <br>

            <button>Submit</button>
        </form>
{% endblock %}